.section-made {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 50px;
  }
  .section-works {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 1170px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .section-team {
    background-color: rgba(245, 244, 250, 1);
    padding-top: 94px;
    padding-bottom: 94px;
  }
  /* team cards */
  .cards {
    background-color: rgba(255, 255, 255, 1);
  
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  
    border-radius: 0px 0px 4px 4px;
  
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
  
  .section-namelist {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 1170px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    margin-top: 30px;
    text-align: center;
  }
  .position {
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    margin-top: 10px;
    text-align: center;
    color: rgba(117, 117, 117, 1);
    margin-bottom: 16px;
  }
  
  /**social**/
  
  .social__list {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: baseline;
  
    color: rgba(175, 177, 184, 1);
  
    gap: 10px;
  
    margin-bottom: 30px;
    margin-right: 32px;
    margin-left: 32px;
  }
  
  .social__link {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
  
  .social__link:hover,
  .social__link:focus {
    background-color: #2196f3;
    
  }
  .social__link:hover .social__icon {
    fill: #ffffff;
    
  }
  
  .social__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 20px;
    height: 20px;
    background-position: 50%;
  
    color: rgb(26, 178, 195);
    fill: rgba(175, 177, 184, 1);
  
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }