.box-works {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .box-works__item::before {
    display: block;
    content: "";
    height: 120px;
    background: #f5f4fa;
    background-image: url(../images/attentionmin.svg);
    background-repeat: no-repeat;
    background-position: center;
  
    margin-bottom: 30px;
  }
  
  .box-works__item:nth-child(2)::before {
    background-image: url(../images/oclockmin.svg);
  }
  
  .box-works__item:nth-child(3)::before {
    background-image: url(../images/planningmin.svg);
  }
  .box-works__item:nth-child(4)::before {
    background-image: url(../images/technologymin.svg);
  }
  